.box{
    width: 400px;
    height: 200px;
    border: 5px solid paleturquoise;
    overflow: scroll;
}
.images .logo{
    height: 400px;
    width: 400px;
}
.box2{
    border: 4px solid peru;
    width: 400px;
    height: 200px;
    
}
